/*
*
* CSS Reset
*
*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
*
* General Rules
*
*
*/

body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Volkhov', serif;
	
}

header {
	position: relative;
	border-bottom: 5px solid brown;
}

@media only screen and (max-width: 400px) {
	.container-fluid,
	.row {
		margin: 0;
		padding: 0;
	}

	/*header {
		background-image: url(../../portfolio-bg.jpg);
		background-position: center;
		background-size: cover;
	}*/



	header > img {
		height: 50vh;
		width: 100%;
		opacity: .80;
	}

	.portfolio-details {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	h1 {
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: .08em;
	}

	.portfolio-details > h5 {
		font-size: 10px;
		
	}

	.portfolio-details > h1,
	.portfolio-details > h5 {
		color: #721c24;
		font-weight: 700;
		text-shadow: 0 0 10px #fff;
	}


	.fab {
	    padding: 3px;
	    font-size: 8px;
	    width: 17px;
	    text-align: center;
	    text-decoration: none;
	    border-radius: 50%;
	    color: #721c24;
	    border: 1px solid #721c24;
	    background-color: #ffffff94;
	}

	.social-media-icon > a > i:hover {
		background-color: #721c24;
		color: #fff;
	}

	.portfolio-image {
		position: absolute;
		top: 95%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 34%;
	}

	.portfolio-image > img {
		border: 4px solid #fff;
		border-radius: 50%; 
		
	}

	#portfolio-contents {
		background-color: #d3d3d373;
		padding-top: 50px;
		letter-spacing: .08em;
		line-height: 1em;
	}

	

	.aboutMe > h2 {
		text-transform: initial;
		margin-bottom: 20px;
		font-size: 22px;
		color: #721c24;
	}

	.aboutMe > p {
		font-size: 12px;
	}

	.experience {
		margin: 30px 0;
		/*padding: 0 80px;*/
	}

	.experience > div > i {
	    width: 27%;
	    padding: 18px;
	    font-size: 30px;
	    color: #fff;
	    border: 4px solid #721c24;
	    background-color: #721c24;
	    border-radius: 50%;
	    text-align: center;
	    margin-bottom: 30px;
	}

	.experience > div > h3 {
		font-size: 20px;
		margin-bottom: 20px;
		color: #721c24;
	}

	.experience p {
		font-size: 12px;
	}

	.skills,
	.skills-container,
	.educ-contact {
		background-image: url(../img/portfolio-bg.png);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

	}

	.skills > div,
	.skills-container > div {
		padding: 0px 25px;

	}

	.skills-head {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 22px;
		/*padding-bottom: 10px;*/
	}

	small {
		display: block;
		font-style: italic;
		padding-top: 10px;
		font-size: 15px;
	}

	.skills-container {
		padding-bottom: 30px;
	}

	.skills-container > div > h4 {
		font-size: 15px;
		margin-top: 10px;
	}

	.progress {
		margin-bottom: 10px;
		background-color: #fff;
		height: 10px;
	}

	.progress-bar {
		background-color: #dc3545;

	}

	.projects {
		margin: 30px 0;
		font-size: 20px;
		color: #721c24;
	}

	/*.project-details > div {
		position: relative;
	}*/

	.project-details > div img {
		opacity: .80;
		width: 100%;
		height: 230px;
		border: 1px solid #721c24;
	}

	.capstone a {
		position: relative;
		overflow: hidden;
		color: #721c24;
		text-decoration: none;
	}

	.title > h2 {
		font-size: 35px;
		font-weight: 800;
	}

	.title > h2 small {
		font-size: 20px;
		font-weight: 500;
	}

	.title {
		display: block;
		position: absolute;
    	opacity: 0;
    	top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;

	}

	.title:hover {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		opacity: 1;
		width: 100%;
		background: rgba(0,0,0,.5); 
		color: #fff;
		margin: 10px;
		padding: 30px 20px;
		margin: 0!important;

	}

	.siteDetails p {
		font-size: 12px;
	}


	.csp3img {
		padding: 26px 50px;
	}

	.educ-contact {
		margin-top: 50px;
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.educ-contact > div > h2 {
		font-size: 25px;
		margin: 20px 0; 
	}

	.educ-contact > div > p {
		margin: 0;
		color: #fff;
		background-color: #f8f9fa3b;
		font-size: 13px;
		font-weight: 800;
	}

	.educ-contact > div > p > strong {
		font-size: 15px;
	}

	.cv {
		margin: 35px 0;
	}

	.cv > a {
		margin: 0 auto;
		padding: 10px 20px;
		background-color: #721c24;
		text-decoration: none;
		color: #fff;
		font-size: 20px;
		border-bottom-left-radius: .50rem;
		border-bottom-right-radius: .50rem;
		border-top-left-radius: .50rem;
		border-top-right-radius: .50rem;
	}

	.footer {
		background-color: #721c24;
		color: #fff;
		font-size: 12px;
	}

	.footer > div > p {
		margin: 0;
		padding: 20px 0;
	}
}

@media only screen and (min-width: 401px) and (max-width: 960px){
	.container-fluid,
	.row {
		margin: 0;
		padding: 0;
	}

	/*header {
		background-image: url(../../portfolio-bg.jpg);
		background-position: center;
		background-size: cover;
	}*/



	header > img {
		height: 50vh;
		width: 100%;
		opacity: .80;
	}

	.portfolio-details {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	h1 {
		font-size: 32px;
		text-transform: uppercase;
		letter-spacing: .08em;
	}

	.portfolio-details > h5 {
		font-size: 20px;
		padding: 10px 0;
		letter-spacing: .05em;
	}

	.portfolio-details > h1,
	.portfolio-details > h5 {
		color: #721c24;
		font-weight: 700;
		text-shadow: 0 0 10px #fff;
	}


	.fab {
	    padding: 8px;
	    font-size: 15px;
	    width: 35px;
	    text-align: center;
	    text-decoration: none;
	    border-radius: 50%;
	    color: #721c24;
	    border: 1px solid #721c24;
	    background-color: #ffffff94;
	}

	.social-media-icon > a > i:hover {
		background-color: #721c24;
		color: #fff;
	}

	.portfolio-image {
		position: absolute;
		top: 95%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 35%;
	}

	.portfolio-image > img {
		border: 4px solid #fff;
		border-radius: 50%; 
		
	}

	#portfolio-contents {
		background-color: #d3d3d373;
		padding-top: 110px;
		letter-spacing: .08em;
		line-height: 2em;
	}

	.aboutMe {
		padding: 10px 100px;
		
	}

	.aboutMe > h2 {
		text-transform: initial;
		margin-bottom: 20px;
		font-size: 40px;
		color: #721c24;
	}

	.experience {
		margin: 50px 0;
		/*padding: 0 80px;*/
	}

	.experience > div > i {
	    width: 30%;
	    padding: 12px;
	    font-size: 30px;
	    color: #fff;
	    border: 4px solid #721c24;
	    background-color: #721c24;
	    border-radius: 50%;
	    text-align: center;
	    margin-bottom: 30px;
	}

	.experience > div > h3 {
		font-size: 22px;
		margin-bottom: 20px;
		color: #721c24;
	}

	.skills,
	.skills-container,
	.educ-contact {
		background-image: url(../img/portfolio-bg.png);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

	}

	.skills > div,
	.skills-container > div {
		padding: 1px 30px;

	}

	.skills-head {
		margin-bottom: 20px;
		font-size: 40px;
		padding: 30px 0;
	}

	small {
		display: block;
		font-style: italic;
		padding-top: 10px;
		font-size: 15px;
	}

	.skills-container {
		padding-bottom: 30px;
	}

	.skills-container > div > h4 {
		font-size: 18px;
	}

	.progress {
		margin-bottom: 30px;
		background-color: #fff;
		height: 15px;
	}

	.progress-bar {
		background-color: #dc3545;
	}

	.projects {
		margin: 60px 0;
		font-size: 20px;
		color: #721c24;
	}

	/*.project-details > div {
		position: relative;
	}*/

	.project-details > div img {
		opacity: .80;
		width: 100%;
		height: 200px;
		border: 1px solid #721c24;
	}

	.capstone a {
		position: relative;
		overflow: hidden;
		color: #721c24;
		text-decoration: none;
	}

	.title > h2 {
		font-size: 35px;
		font-weight: 800;
	}

	.title > h2 small {
		font-size: 20px;
		font-weight: 500;
	}

	.title {
		display: block;
		position: absolute;
    	opacity: 0;
    	top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;

	}

	.title:hover {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		opacity: 1;
		width: 100%;
		background: rgba(0,0,0,.5); 
		color: #fff;
		margin: 10px;
		padding: 30px 20px;
		margin: 0!important;

	}

	.csp3img {
		padding: 8	0px 50px;
	}

	.educ-contact {
		margin-top: 80px;
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.educ-contact > div > h2 {
		font-size: 40px;
		margin: 20px 0; 
	}

	.educ-contact > div > p {
		margin: 0;
		color: #fff;
		background-color: #f8f9fa3b;
		font-size: 18px;
		font-weight: 800;
	}

	.educ-contact > div > p > strong {
		font-size: 20px;
	}

	.cv {
		margin: 50px 0;
	}

	.cv > a {
		margin: 0 auto;
		padding: 20px 30px;
		background-color: #721c24;
		text-decoration: none;
		color: #fff;
		font-size: 25px;
		border-bottom-left-radius: .50rem;
		border-bottom-right-radius: .50rem;
		border-top-left-radius: .50rem;
		border-top-right-radius: .50rem;
	}

	.footer {
		background-color: #721c24;
		color: #fff;
		font-size: 15px;
	}

	.footer > div > p {
		margin: 0;
		padding: 20px 0;
	}
}

@media (min-width: 961px) {

	.container-fluid,
	.row {
		margin: 0;
		padding: 0;
	}

	/*header {
		background-image: url(../../portfolio-bg.jpg);
		background-position: center;
		background-size: cover;
	}*/



	header > img {
		height: 90vh;
		width: 100%;
		opacity: .80;
	}

	.portfolio-details {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	h1 {
		font-size: 42px;
		text-transform: uppercase;
		letter-spacing: .08em;
	}

	.portfolio-details > h5 {
		font-size: 20px;
		padding: 10px 0;
		letter-spacing: .05em;
	}

	.portfolio-details > h1,
	.portfolio-details > h5 {
		color: #721c24;
		font-weight: 700;
		text-shadow: 0 0 10px #fff;
	}


	.fab {
	    padding: 8px;
	    font-size: 15px;
	    width: 35px;
	    text-align: center;
	    text-decoration: none;
	    border-radius: 50%;
	    color: #721c24;
	    border: 1px solid #721c24;
	    background-color: #ffffff94;
	}

	.social-media-icon > a > i:hover {
		background-color: #721c24;
		color: #fff;
	}

	.portfolio-image {
		position: absolute;
		top: 88%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20%;
	}

	.portfolio-image > img {
		border: 4px solid #fff;
		border-radius: 50%; 
		
	}

	#portfolio-contents {
		background-color: #d3d3d373;
		padding-top: 110px;
		letter-spacing: .08em;
		line-height: 2em;
	}

	.aboutMe {
		padding: 0 170px;
		
	}

	.aboutMe > h2 {
		text-transform: initial;
		margin-bottom: 20px;
		font-size: 40px;
		color: #721c24;
	}

	.experience {
		margin: 50px 0;
		padding: 0 80px;
	}

	.experience > div > i {
	    width: 30%;
	    padding: 30px;
	    font-size: 30px;
	    color: #fff;
	    border: 4px solid #721c24;
	    background-color: #721c24;
	    border-radius: 50%;
	    text-align: center;
	    margin-bottom: 30px;
	}

	.experience > div > h3 {
		font-size: 22px;
		margin-bottom: 20px;
		color: #721c24;
	}

	.skills,
	.skills-container,
	.educ-contact {
		background-image: url(../img/portfolio-bg.png);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

	}

	.skills > div,
	.skills-container > div {
		padding: 10px 50px;

	}

	.skills-head {
		margin-bottom: 20px;
		font-size: 40px;
		padding-top: 30px;
		padding-bottom: 10px;
	}

	small {
		display: block;
		font-style: italic;
		padding-top: 10px;
		font-size: 22px;
	}

	.skills-container {
		padding-bottom: 30px;
	}

	.skills-container > div > h4 {
		font-size: 18px;
	}

	.progress {
		margin-bottom: 30px;
		background-color: #fff;
		height: 15px;
	}

	.progress-bar {
		background-color: #dc3545;
	}

	.projects {
		margin: 60px 0;
		font-size: 40px;
		color: #721c24;
	}

	/*.project-details > div {
		position: relative;
	}*/

	.project-details > div img {
		opacity: .80;
		width: 100%;
		height: 330px;
		border: 1px solid #721c24;
	}

	

	.capstone a {
		position: relative;
		overflow: hidden;
		color: #721c24;
		text-decoration: none;
	}

	.title > h2 {
		font-size: 35px;
		font-weight: 800;
	}

	.title > h2 small {
		font-size: 20px;
		font-weight: 500;
	}

	.title {
		display: block;
		position: absolute;
    	opacity: 0;
    	top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;

	}

	.title:hover {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		opacity: 1;
		width: 100%;
		background: rgba(0,0,0,.5); 
		color: #fff;
		margin: 10px;
		padding: 30px 20px;
		margin: 0!important;

	}


	

	.csp3img {
		padding: 24px 50px;
	}

	.educ-contact {
		margin-top: 80px;
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.educ-contact > div > h2 {
		font-size: 40px;
		margin: 20px 0; 
	}

	.educ-contact > div > p {
		margin: 0;
		color: #fff;
		background-color: #f8f9fa3b;
		font-size: 18px;
		font-weight: 800;
	}

	.educ-contact > div > p > strong {
		font-size: 20px;
	}

	.cv {
		margin: 50px 0;
	}

	.cv > a {
		margin: 0 auto;
		padding: 20px 30px;
		background-color: #721c24;
		text-decoration: none;
		color: #fff;
		font-size: 25px;
		border-bottom-left-radius: .50rem;
		border-bottom-right-radius: .50rem;
		border-top-left-radius: .50rem;
		border-top-right-radius: .50rem;
	}

	.footer {
		background-color: #721c24;
		color: #fff;
		font-size: 15px;
	}

	.footer > div > p {
		margin: 0;
		padding: 20px 0;
	}

}




